{# place \App\Entity\Place #}
<li>
    {{ place.name }}
    <ul>
        <li>created: {{ place.createdAt|date("d.m.Y H:m") }}</li>
        <li>slug: {{ place.slug }}</li>
        <li>city: {{ place.city.name }}</li>
        <li>active: {% if place.active %}yes{% else %}no{% endif %}</li>
        <li>closed: {% if place.closed %}yes{% else %}no{% endif %}</li>
    </ul>
</li>
